# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Transpiled files
dist

# Environment files
.runtimeconfig.json
